[theme="light"]{
    --app-background-color: #fdfaf4;
    --card-color: #fff;
    --text-color: #1a1a1d;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

[theme="dark"]{
    --app-background-color: #121212;
    --card-color: #202020;
    --text-color: whitesmoke;
    --box-shadow: none;
}